[submodule "libs/nest-mopa"]
	path = libs/nest-mopa
	url = git@github.com:truongduchuy910/nest-mopa.git
[submodule "libs/nest-nepa"]
	path = libs/nest-nepa
	url = git@github.com:truongduchuy910/nest-nepa.git
[submodule "libs/nest-pgpa"]
	path = libs/nest-pgpa
	url = git@github.com:truongduchuy910/nest-pgpa.git
[submodule "libs/nest-ogm"]
	path = libs/nest-ogm
	url = git@github.com:truongduchuy910/nest-ogm.git
